################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOEServices/MOEServices/bin/Debug/netcoreapp3.1
/MOEServices/MOEServices/obj
/MOEServices/MOEServices.Core/bin/Debug/netcoreapp3.1
/MOEServices/MOEServices.Core/obj
/MOEServices/MOEServices.Data/bin/Debug/netcoreapp3.1
/MOEServices/MOEServices.Data/obj
/MOEServices/MOEServices.Infrastructure/bin/Debug/netcoreapp3.1
/MOEServices/MOEServices.Infrastructure/obj
/MOEServices/MOEServices.Infrastructure/obj
/MOEServices/.vs/MOEServices/v16
/MOEServices/BOEServices.Web/bin/Debug/netcoreapp3.1
/MOEServices/BOEServices.Web/obj
